<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
		xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-notifications-permission" version="0.0.1">
    <name>Notification Permission</name>
    <description>Plugin that askes permission for notifications on Android.</description>
    <author>Klaas van der Linden</author>
    <license>Apache 2.0</license>
    <keywords>ecosystem:cordova,cordova,permissions,notification</keywords>
    <engines>
        <engine name="cordova" version=">=9.0.0"/>
        <engine name="cordova-android" version=">=8.0.0"/>
        <engine name="cordova-ios" version=">=5.0.0"/>
    </engines>
    <js-module src="www/NotificationsPermission.js" name="NotificationsPermission">
        <clobbers target="window.cordova.notifications_permission" />
    </js-module>
    <platform name="android">
	    <js-module src="www/Styles.js" name="Styles">
	        <clobbers target="window.cordova.notifications_permission.styles" />
	    </js-module>
    	<config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
        </config-file>
        <hook src="hooks/android/before_prepare/fix-permission.js" type="before_prepare" />
        <config-file target="res/xml/config.xml" parent="/*">
	        <feature name="NotificationsPermission">
		        <param name="android-package" value="nl.klaasmaakt.cordova.notifications_permission.NotificationsPermission" />
		    	<param name="onload" value="true" />
		    </feature>
		</config-file>
        <source-file src="src/android/NotificationsPermission.java" target-dir="src/nl/klaasmaakt/cordova/notifications_permission" />
        <source-file src="src/android/ClickCallback.java" target-dir="src/nl/klaasmaakt/cordova/notifications_permission" />
        <source-file src="src/android/PermissionsRationaleDialogFragment.java" target-dir="src/nl/klaasmaakt/cordova/notifications_permission" />
    </platform>
</plugin>